@model RegisterVM;
@{
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<div class="row justify-content-center">
	<div class="col-lg-10 col-md-10">
		<div class="app-top-items">
			<a href="/">
				<div class="sign-logo" id="logo">
					<img src="/wp-content/themes/SanSuKien/assets/logo/ssk-logo.png" alt="SanSuKien">
					<img class="logo-inverse" src="/wp-content/themes/SanSuKien/assets/logo/ssk-logo-dark.png" alt="SanSuKien">
				</div>
			</a>
			<div class="app-top-right-link">
				Đã có tài khoản?<a class="sidebar-register-link" href="/member-login">Đăng nhập ngay</a>
			</div>
		</div>
	</div>
	<div class="col-xl-5 col-lg-6 col-md-7">
		<div class="registration">
			<form name="login-form" id="login-form" method="post" action="/member-register">
				<h2 class="registration-title">Đăng nhập tài khoản</h2>


				<div class="form-group mt-5">
					<label class="form-label">Username*</label>
					<input class="form-control h_50" type="text" name="UserName" id="username" placeholder="" value="" required>
				</div>
				<div class="form-group mt-5">
					<label class="form-label">Email*</label>
					<input class="form-control h_50" type="text" name="Email" id="Email" placeholder="" value="" required>
				</div>
				<div class="form-group mt-5">
					<label class="form-label">Họ và tên*</label>
					<input class="form-control h_50" type="text" name="Name" id="Name" placeholder="" value="" required>
				</div>

				<div class="form-group mt-4">
					<div class="field-password">
						<label class="form-label">Mật khẩu*</label>
					</div>
					<div class="loc-group position-relative">
						<input class="form-control h_50" type="password" name="Password" id="password" placeholder="">
						<span class="pass-show-eye"><i class="fas fa-eye-slash"></i></span>
					</div>
				</div>


				<script>
					function onSubmit(token) {
						document.getElementById("login-form").submit();
					}
				</script>
				<input type="submit" name="submit-login-button" id="submit-login-button" class="main-btn btn-hover w-100 mt-4">
			</form>
			<div class="new-sign-link">
				Đã có tài khoản?<a class="signup-link" href="/member-register">Đăng nhập ngay</a>
			</div>
		</div>
	</div>
</div>
