@using EventTicket.Entities;
@model TopicVM;

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Chỉnh sửa chủ đề";
    var cate = ViewData["cate"] as Topic;
}
<a href="/admin/topics" class="btn btn-outline-danger mb-3">Quay lại</a>
<form class="user w-50" action="/admin/topics/edit" method="post" >
    <input type="hidden" asp-for="@Model.Id"/>

    <div class="form-group ">
        <input asp-for="@Model.Name" class="form-control form-control-user mb-3"
               required placeholder="Tên chủ đề" />
    </div>
    <div class="form-group ">
        @{
            var t = Model.Status ? "selected" : "";
            var f = !Model.Status ? "selected" : "";
        }
        <select name="Status" class="form-control">
            <!option @t value="true">Hiển thị</!option>
            <!option @f value="false">Ẩn</!option>
        </select>
    </div>
    <div class="mt-3 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-user btn-block">
            Chỉnh sửa
        </button>
    </div>
</form>